body {
    background-color: white;
}

nav {
    height: 80px;
    width: auto;
}


.listado {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
}

.listado .card {
    display: inline-block;
    margin-left: 6px;
}

.listado .listado-titulo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.container {
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

footer {
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
}

.carousel {

    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 700px;

}



.carousel-inner .carousel-item {
    transition-duration: 2s; 
}

.btn-alargado {
    width: 150px; 
    height: 60px; 
    border: 2px solid #dc3545; 
    border-radius: 2px; 
    
}
