*{
    padding: 0;
    margin:0;
}

body {
    background-color: white;
}

nav {
    height: 80px;
    width: auto;
}


.listado {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
}

.listado .card {
    display: inline-block;
    margin-left: 6px;
}

.listado .listado-titulo {
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 10px;

}



.container {
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

footer {
    width: 100%;

    color: white;
}

.carousel {

    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 700px;

}



.carousel-inner .carousel-item {
    transition-duration: 2s;
}

.btn-alargado {
    width: 150px;
    border-radius: 2px;
}

.products .col-3 .card{
    transition: all .3s ease;
    margin:10px 0;
}

.products .col-3 .card:hover{

    box-shadow: 0 5px 50px rgba(0,0,0,0.1);
}

.btn-alargado{
    font-size: 14px;
    border-radius: 3px;
    padding: 10px 3px;
    background-color: transparent;
    color: #bd2424;
    border:solid 1px #bd2424;
}

.btn-alargado:hover{
    background-color: #bd2424;
    color: #ffffff;
    transition: all .3s linear;
}

a {
    text-decoration: none;
    color: inherit;
}

.products img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* .espacio {
    width: 20px;
    height: 50px; 
    display: inline-block; 
} */





/*hacia abajo hace referencia a la APi*/



#productos{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px 10%;
    justify-content: space-evenly;
    row-gap: 3vh;
}

.producto{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 20%;
    height: 50vh;
    outline: 1px #cdcdcd dashed;
    border-radius: 30px;
    box-sizing: content-box;
    padding: 10px;
}

.imagen{
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.nombre{
    font-size: 1.1rem;
    color: rgb(20, 114, 186);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.precio{
    font-size: 1.1rem;
    color: rgb(224, 84, 20);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton{
    font-size: 14px;
    border-radius: 3px;
    padding: 10px 3px;
    background-color: transparent;
    color: #bd2424;
    border:solid 1px #bd2424;
}